@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme{
  --primary-default: #64A4EC;
  --suport-1: #DCA9FA;
  --suport-2: #E0F480;
  --suport-3: #ED7848;
  --text-primary: #202020;
  --text-secondary: #454647;
  --text-tertiary: #6B7280;
  --text-disable: #8C8C8C;
  --text-on-primary: #FFFFFF;
  --surface-primary: #FFFFFF;
  --surface-secondary: #F8F8F8;
  --surface-tertiary: #F6F3F2;
  --font-main: 'Manrope', system-ui, 'Segoe UI', Roboto, sans-serif;
}

:root {
  font-family: var(--font-main);
  color: var(--text-primary);
  background: var(--surface-primary);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}