@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary-default: #64A4EC;

  --color-suport-1: #DCA9FA;
  --color-suport-2: #E0F480;
  --color-suport-3: #ED7848;

  --color-on-suport-1: #481566;
  --color-on-suport-2: #4A5612;
  --color-on-suport-3: #FFFFFF;

  --color-text-primary: #202020;
  --color-text-secondary: #454647;
  --color-text-tertiary: #6B7280;
  --color-text-disable: #8C8C8C;
  --color-on-primary: #FFFFFF;

  --color-surface-primary: #FFFFFF;
  --color-surface-secondary: #F8F8F8;
  --color-surface-tertiary: #F6F3F2;

  --color-border-default: #D0D0D0;

  --font-main: 'Manrope', system-ui, 'Segoe UI', Roboto, sans-serif;
}

:root {
  font-family: var(--font-main);
  color: var(--color-text-primary);
  background: var(--color-surface-primary);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--color-surface-secondary);
}
